# misc
*.log
results
debug/

# IntelliJ files
shelf
workspace.xml
tasks.xml
modules.xml
*.iml
.idea/libraries/*.xml
.idea/*.xml
.idea/scopes/*.xml

# Some needed IntelliJ config files.
!.idea/copyright/*
!.idea/scopes/Non_3rd_party_files.xml
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/vcs.xml

# Archives
*.7z
*.dmg
*.gz
*.iso
#*.jar
*.war
*.ear
*.rar
*.tar
*.zip

# Folders
.classpath
.project
.settings
target

# Java
*.class

# C++
*.slo
*.lo
*.o
*.obj
*.ko
*.elf
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Libraries
*.lib
*.a
*.dll
